name: Scoreo2 build & package

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: gcc:13
    steps:
    - name: checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: install deps
      run: |
        apt update
        apt install -y cmake libboost-dev

    - name: build
      run: ./bootstrap.sh -c -d -t
